/* Css */

* :focus {
	outline: none;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color:rgba(234,128,176,0.5);
}

article {
	width: 40%;
	border-right: thick solid #EA80B0;
	float: left;	
}

#survivorGraphic {
	float: right;
	margin: 3em;
	border:0.025em solid #000000;
	border-radius:0.5em;
}

.logo {
	margin:0.5em;
}

header {
	/*background-color: white;*/
	width:100%;
	text-align:center;
}

h1 {
	display: inline;
	clear: left;
	color: #EA80B0;
	font-weight: 900;
	letter-spacing:0.25em;
	text-align:center;
	margin-bottom:1em;
}

h2 {
  color: #FFFFFF;
  display:inline;
  margin: 0 0 10 0;
}

.required_notification {
	font-size: 0.8em;	
	color: #d45252;
	display: inline;
	float:right;
	margin-right:3em;
}

.asterisk {
	color: #d45252;	
}

:-moz-placeholder {
    color: grey;
}
 
::-webkit-input-placeholder {
    color: grey;
}

.bcd_form input { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    margin:0.25em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input [type='number' i] {
	margin:0.25em;
	border:1px solid #aaa;
	box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
	border-radius:2px;
}

.bcd_form input [type='number']:out-of-range{
	border-color:red;	
}

.bcd_form input [type='number']:in-range {
	border-color:green;
}

.bcd_form input:focus {
    background: #fff; 
    border:1px solid #EA80B0; 
    box-shadow: 0 0 3px #aaa; 
}

.bcd form input [type='checkbox'] {
	margin-lef:0.5em;
}

input.checkbox {
	margin-left:1.5em;
}
select {
	margin:0.25em;
}

fieldset {
	border:0.25em solid #000000;
	border-radius:0.5em;
	background-color:#FFFFFF;
	margin:0 3em;
}
fieldset legend {
	background-color:#EA80B0;
	border-radius:0.5em;
	padding:0.35em;
}

ul li {
	list-style-type:none;
	margin:0;
	padding:0;
}

/* Button Style */
input.submit {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
}
input.submit:hover {
    opacity:.85;
    cursor: pointer; 
}

input.submit:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset; 
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

